.modal-background {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  visibility: hidden;
  overflow: auto;
}

.modal {
  position: relative;
  z-index: 100;
  color: #575757;
  background-color: #FFF;
  display: flex;
  min-height: 30rem;
  width: 65%;
  margin: 1rem auto 1rem auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}